.card-body {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.caixa-loteria {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.caixa-loteria img {
    width: 50px;
    height: 50px;
}

.valor-acumulado {
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
    margin-top: 10px;
}

.titulo-loteria {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}
